@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<WTechECommerce.UI.Models.OrderListVM>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">
            DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                                                                       href="https://datatables.net">official DataTables documentation</a>.
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>OrderDate</th>
                                <th>OrderCode</th>
                                <th>WebUser</th>
                                <th> </th>


                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>OrderDate</th>
                                <th>OrderCode</th>
                                <th>WebUser</th>
                                <th>Total Price</th>
                                <th> </th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.OrderDate</td>
                                <td>@item.OrderCode</td>
                                <td>@item.WebUser?.Name </td>
                                <td>@item.OrderDetails.</td>

                                <td><button id="@item.Id" onclick="getOrderDetail(@item.Id)" class="btn btn-primary">Detay</button> </td>


                            </tr>
                                


                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="OrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sipariş Detay</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="trRemove()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="OrderDetailTable" class="table">
                        <thead>
                            <tr>
                                <th scope="col">OrderCode</th>
                                <th scope="col">Ürün</th>
                                <th scope="col">fiyat</th>
                                <th scope="col">adet</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="trRemove()" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    
                </div>
            </div>
        </div>
    </div>

<script>
    function trRemove() {
       
        $("#OrderDetailTable tr").remove();

        
    }

    function getOrderDetail(id) {
        var categoryId = id;
       

       

            $.ajax({
                url: "/AdminOrderList/GetOrderDetail/" + categoryId,
                type: "GET",
                success: function (data) {
                    
                    $('#OrderDetailModal').modal('show');
                    //data.forEach(element => console.log(element.product.unitPrice));
                    $("#exampleModalLabel").text(data[0].orderCode+" Sipariş Detay Sayfası");
                    data.forEach(function (elem) {                      

                        $("#OrderDetailTable").append(` 
                                        <tr>
                                     <td> `+ elem.orderCode + ` </td>
                                     <td> `+ elem.product.name + ` </td>
                                     <td> `+ elem.product.unitPrice + `</td>
                                        <td> `+ elem.quantity + `</td>
                                    </tr>
                            `);
                        

                    });
            
                    
                }
            })


    }
</script>